<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}critical_critiques{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- This file store project specific CSS -->
    <link href="{{ STATIC_URL }}css/project.css" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template, 
        then move to project.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>
    <h1>CC</h1>

    {% block content %}
      <p>This is your new omakase project. To make your first app type:</p>
      <code>python manage.py startapp chocolate_taster</code>

      <p>
        <a rel="nofollow" href="{% url "socialauth_begin" "github" %}">
          Sign in using Github
        </a>
      </p>
    {% endblock content %}

    <!-- place project specific Javascript in this file -->
    <script src="{{ STATIC_URL }}js/project.js"></script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
